.loginContainer {
    text-align: center;
}

.loginContainer p > span {
    cursor: pointer; 
    color: #FD2D01;
    font-weight: bold;
}

.loginContainer p > span:hover {
    text-decoration: underline;
}

.pageTitle {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

form {
    text-align: center;
}

.inputContainer {
    padding: 5px;
}